*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding: 3rem 0;
    background-color: #d8d8d8;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.form__element{
    display: flex;
    flex-direction: column;
}

#title, #desc{
    margin-block: 2rem;
    border: none;
    padding: 1rem;
    border-radius: 8px;
}

label{
    font-size: 1.2rem;
}

#form__submit{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
}

.todo__item{
    background-color: cornflowerblue;
    width: 100%;
    padding: 1rem;
    list-style-type: none;
    border-radius: 8px;
    color: white;
    margin-top: 2rem;
}

.complete{
    padding: 0.55rem 1.2rem;
    color: black;
    background-color: mintcream ;
    border: none;
    border-radius: 8px;
}

.complete:hover{
    background-color: rgb(215, 254, 234);
}

#form__submit:hover{
    background-color: rgb(67, 124, 232);
}

.todo__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed{
    text-decoration: line-through;
}

.todo{
    margin-top: 2rem;
}

@media (min-width: 720px){
    .container{
        width: 80%;
        max-width: 1200px;
    }

    .flex{
        display: flex;
        justify-content: space-between;
    }
    
    #todo__form{
        width: 30%;
    }

    .todo{
        margin-top: 0rem;
        width: 60%;
        max-height: 600px;
        overflow-y: auto;
    }
}